*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

h1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

html {
  --outside: #333;
  --nondescript-bg: #eee;
  --nondescript-tx: #333;
  --nondescript-ln: #006b80;
  --acc1-bg: #176373;
  --acc1-tx: #a4cad1;
  --acc1-ln: #fff;
  --acc2-bg: #A76571;
  --acc2-tx: #e2c0c6;
  --acc2-ln: #fff;
  --neut1-bg: #D8DCFF;
  --neut1-tx: #4e4f56;
  --neut1-ln: #006b80;
  --neut2-bg: #bfddbb;
  --neut2-tx: #4e5c4c;
  --neut2-ln: #006b80;
  --success-bg: #32DE8A;
  --success-tx: #334c40;
  --success-ln: #333;
  --info-bg: #124E78;
  --info-tx: #a0c6df;
  --info-ln: #f4e04d;
  --warn-bg: #f4e04d;
  --warn-tx: #3d3b29;
  --warn-ln: #005e70;
  --danger-bg: #bf3a30;
  --danger-tx: #dbc7c6;
  --danger-ln: #fff;
  --anchor-text-decoration: inherit;
}

html.dark {
  --outside: #222;
  --nondescript-bg: #333;
  --nondescript-tx: #ccc;
  --nondescript-ln: #fff;
  --acc1-bg: #176373;
  --acc1-tx: #a4cad1;
  --acc1-ln: #fff;
  --acc2-bg: #995763;
  --acc2-tx: #e2c0c6;
  --acc2-ln: #fff;
  --neut1-bg: #4e4f56;
  --neut1-tx: #bfc3d9;
  --neut1-ln: #fff;
  --neut2-bg: #4e5c4c;
  --neut2-tx: #c8ddc5;
  --neut2-ln: #fff;
  --success-bg: #205f41;
  --success-tx: #abd4c0;
  --success-ln: #fff;
  --info-bg: #124E78;
  --info-tx: #a0c6df;
  --info-ln: #f4e04d;
  --warn-bg: #f4e04d;
  --warn-tx: #3d3b29;
  --warn-ln: #005e70;
  --danger-bg: #bf3a30;
  --danger-tx: #dbc7c6;
  --danger-ln: #fff;
  --anchor-text-decoration: underline;
}

body {
  margin: 0 !important;
}

/* html {
  background-color: var(--outside);
} */

a {
  cursor: pointer;
}

.david a {
  text-decoration: var(--anchor-text-decoration);
  font-weight: bolder;
}

.color-default {
  background-color: var(--nondescript-bg);
  color: var(--nondescript-tx);
  fill: var(--nondescript-tx);
}

.color-default a {
  color: var(--nondescript-ln);
}

button.color-default {
  background-color: var(--nondescript-bg);
  color: var(--nondescript-ln);
}

.color-neutral1 {
  background-color: var(--neut1-bg);
  color: var(--neut1-tx);
  fill: var(--neut1-tx);
}

.color-neutral1 a {
  color: var(--neut1-ln);
}

button.color-neutral1 {
  background-color: var(--neut1-bg);
  color: var(--neut1-ln);
}

.color-neutral2 {
  background-color: var(--neut2-bg);
  color: var(--neut2-tx);
  fill: var(--neut2-tx);
}

.color-neutral2 a {
  color: var(--neut2-ln);
}

button.color-neutral2 {
  background-color: var(--neut2-bg);
  color: var(--neut2-ln);
}

.color-accent1 {
  background-color: var(--acc1-bg);
  color: var(--acc1-tx);
  fill: var(--acc1-tx);
  accent-color: var(--acc1-bg);
}

.color-accent1 a {
  color: var(--acc1-ln);
  fill: var(--acc1-ln);
}

button.color-accent1 {
  background-color: var(--acc1-bg);
  color: var(--acc1-ln);
  transition: all .25s ease-in-out;
}

button.color-accent1:hover {
  filter: brightness(0.8);
}

.color-accent2 {
  background-color: var(--acc2-bg);
  color: var(--acc2-tx);
  fill: var(--acc2-tx);
}

.color-accent2 a {
  color: var(--acc2-ln);
  fill: var(--acc2-ln);
}

button.color-accent2 {
  background-color: var(--acc2-bg);
  color: var(--acc2-ln);
  fill: var(--acc2-ln);
}

.color-success {
  background-color: var(--success-bg);
  color: var(--success-tx);
  fill: var(--success-tx);
}

.color-success a {
  color: var(--success-ln);
  fill: var(--success-ln);
}

button.color-success {
  background-color: var(--success-bg);
  color: var(--success-ln);
  fill: var(--success-ln);
}

.color-info {
  background-color: var(--info-bg);
  color: var(--info-tx);
  fill: var(--info-tx);
}

.color-info a {
  color: var(--info-ln);
  fill: var(--info-tx);
}

button.color-info {
  background-color: var(--info-bg);
  color: var(--info-ln);
  fill: var(--info-ln);
}

.color-warning {
  background-color: var(--warn-bg);
  color: var(--warn-tx);
  fill: var(--warn-tx);
}

.color-warning a {
  color: var(--warn-ln);
  fill: var(--warn-ln);
}

button.color-warning {
  background-color: var(--warn-bg);
  color: var(--warn-ln);
  fill: var(--warn-ln);
}

.color-danger {
  background-color: var(--danger-bg);
  color: var(--danger-tx);
  fill: var(--danger-tx);
}

.color-danger a {
  color: var(--danger-ln);
  fill: var(--danger-ln);
}

button.color-danger {
  background-color: var(--danger-bg);
  color: var(--danger-ln);
  fill: var(--danger-ln);
}

.color-code-success {
  border-left: 4px solid var(--success-bg);
}

.color-code-info {
  border-left: 4px solid var(--info-bg);
}

.color-code-warning {
  border-left: 4px solid var(--warn-bg);
}

.color-code-danger {
  border-left: 4px solid var(--danger-bg);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#root>main {
  font-size: 1rem;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.show-up {
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.vanish {
  animation: fade-out 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(6rem);
  }
}

.table-so-report td,
.table-so-report th {
  text-align: center;
}

.fs-accordion main.collapsed {
  max-height: 0;
  padding: 0;
  transition: max-height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.fs-accordion main {
  max-height: inherit;
  transition: max-height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.asset-detail i {
  background: #fff;
  color: #124E78;
  fill: #124E78;
}

tr.row-selected:hover {
  background-color: var(--nondescript-bg);
  color: var(--nondescript-tx);
  fill: var(--nondescript-tx);
  filter: brightness(.85);
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  height: calc(100vh - 215px);
}